* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oleo Script Swash Caps", cursive;
  cursor: pointer;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #3f5efb, #fc466b);
  user-select: none;
  animation: bgcolor infinite 20s;
}

form {
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  margin-top: 5%;
  opacity: 0.7;
}

label {
  font-size: 20px;
  color: azure;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 10%;
  opacity: 0.8;
}

input {
  font-size: 17px;
  width: 80%;
  margin: 5% auto;
  margin-bottom: 8%;
  border: 0;
  border-top: 0px;
  outline: none;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  opacity: 0.8;
}

button {
  width: 50%;
  margin: 3% auto;
  color: white;
  border: 0;
  outline: 0;
  font-size: 15px;
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 5px rgba(31, 38, 135, 37);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes bgcolor {
  0% {
    background: #e74c3c;
  }
  20% {
    background: #2980b9;
  }
  40% {
    background: black;
  }
  60% {
    background: yellow;
  }
  80% {
    background: red;
  }
  100% {
    background: green;
  }
}
